/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


*{ margin: 0; padding: 0;}

body {
  /*To hide the horizontal scroller appearing during the animation*/
  overflow: hidden;
  width: auto;
}

#clouds{
  height: 400px;
  padding: 100px 0;
  background: #247DC3;
  background: -webkit-linear-gradient(top, #247DC3 0%, #fff 100%);
  background: -linear-gradient(top, #247DC3 0%, #fff 100%);
  background: -moz-linear-gradient(top, #247DC3 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
  width: 200px; height: 60px;
  background: #fff;
  
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  
  position: relative; 
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute; 
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
  left: 550px;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 600px;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; /*opacity proportional to the size*/
  
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: 600px; top: -200px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

.x4 {
  left: 900px; top: -200px;
  
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.x5 {
  left: 800px; top: -150px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}


#snow{
  background: none;
  font-family: Androgyne;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 50s linear infinite;
  -moz-animation: snow 50s linear infinite;
  -ms-animation: snow 50s linear infinite;
  animation: snow 50s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
} 

/* Facebook */
.fb-icon-bg {
  background: #354f88;
  height: 37px;
  margin: 0 0 -37px 0;
  width: 41px; 
}

.fb-icon-bg:after {
  content: url(https://cdn1.iconfinder.com/data/icons/simple-icons/32/facebook-32-black.png);
  display: block;
  padding: 3px 10px 5px 7px;
  
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}

.fb-bg {
  background: #3b5998 none repeat scroll 0 0;
  display: block;
  height: 37px;
  margin: 0 0 30px 41px;
  padding: 0 18px;
  width: 190px;
}

.fb-bg:after {
  color: #fff;
  content: "Entrar com Facebook";
  font-family: 'Oswald', sans-serif;
  height: 37px;
  left: 5%;
  position: relative;
  text-transform: uppercase;
  top: 22%;
  width: 41px; 
}

.fb-bg:hover{
  cursor: pointer;
}

.fb-bg:active{
  background: #354f88;
}


.intro {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 100;
}
.container {
  margin:20% auto;
  height:38px;
  width:207px;
}
.logo_natal{
  position: absolute;
  margin: 3%;
  width: 150px;
}
.logo_gazin{
  bottom: 0;
  margin: 1% 2%;
  position: absolute;
  right: 0;
  width: 115px;
}
.foto_daniel_noel{
  left: 50%;
  margin-left: -210px;
  width: 450px;
  position: absolute;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.top {    
  background: rgba(0, 0, 0, 0) url("../img/msg-top.png") no-repeat scroll 0 0 / 1000px 370px;
  display: block;
  height: 370px;
  left: 50%;
  margin-left: -551px;
  padding: 41px 16px;
  position: absolute;
  top: 0;
  width: 1000px;
  z-index: 1;
}
.middle {    
  background: rgba(0, 0, 0, 0) url("../img/msg-middle.png") no-repeat scroll 0 0 / 637px 246px;
  display: block;
  height: 246px;
  left: 50%;
  margin-left: -381px;
  padding: 41px 16px;
  position: absolute;
  top: 296px;
  width: 637px;
  z-index: 1;
}
.desejos {    
  background: rgba(0, 0, 0, 0) url("../img/desejos.png") no-repeat scroll 0 0 / 940px 195px;
  display: block;
  font-family: helvetica neue,helvetica,arial,sans-serif;
  height: 195px;
  left: 50%;
  margin-left: -474px;
  margin-top: 170px;
  padding: 41px 16px;
  position: absolute;
  top: 286px;
  width: 940px;
  z-index: 1;
}
.input-email{
  color: white;
  font-family: tahoma;
  font-size: 20px;
  font-style: italic;
  margin-left: 234px;
}  
.input-email input{
  border: medium none;
  border-radius: 5px;
  height: 30px;
  margin-right: 10px;
  padding: 0 30px;
  text-align: center;
  width: 300px;
}  
.botao-login {
  background: rgba(0, 0, 0, 0) url("../img/button.png") no-repeat scroll 0 0 / 140px 50px;
  cursor: pointer;
  display: block;
  font-family: helvetica neue,helvetica,arial,sans-serif;
  height: 50px;
  left: 50%;
  margin-left: -106px;
  margin-top: 170px;
  position: absolute;
  top: 495px;
  width: 140px;
  z-index: 1;
}
.lista-desejos{
  margin-top: 45px;
  text-align: center;
  width: 755px;
  z-index: 2;
}
.item-lista-desejos{
  background-color: white;
  border: 1px solid rgba(0, 33, 255, 0.51);
  border-radius: 5px;
  color: #0086ff;
  display: inline-table;
  font-size: 14px;
  margin-bottom: 4px;
  padding: 1px 7px;
  z-index: 3;
  cursor: pointer;
}
.item-lista-desejos:hover, .item-lista-desejos:active,.item-lista-desejos.desejo-selecionado{
  background-color: #2c91b4;
  color: white;
}

.facebook-btn{
  margin-left: 0;
  margin-top: 0;
}

.scroll
{
  width: 267px;
  font-size:14px;
  height: 245px;
  font-weight:200;
  overflow: auto;
}

.toolbar
{
  background: #222 none repeat scroll 0 0;
  color: #fff;
  font-weight: bold;
  height: 20px;
  padding: 1em;
  text-align: center;
  text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.2);
  width: 235px;
}

footer, if_header_the_same {
  -webkit-box-sizing: border-box;
  background-color:#c27b00;
  position:absolute;
  z-index:2;
  bottom:0; left:0;
  width:100%;
  height:48px;
  padding:0;
  border-top:1px solid #444;
}
footer{
  background-color: #c27b00;
  border-top: 1px solid #444;
  height: 48px;
  left: 16px;
  padding: 0;
  position: absolute;
  top: 326px;
  width: 268px;
  z-index: 2;
}

ul
{
  padding: 0;
  margin: 0;
}

li
{
  list-style: none;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
li:hover
{
  background-color: #eee;
}

input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 19px;
}

input[type="checkbox"]{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #c8c6c6;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 5px 0 0;
}

input[type=checkbox].checkbox2 {
    display: none;
}

input[type=checkbox].checkbox2 + label:before { 
    content: "\f096"; 
    letter-spacing: 10px;
}

input[type=checkbox].checkbox2:checked + label:before {
    content: '\f046';
}

input[type="checkbox"]:focus{
  outline: none;
}


#video_natal{
  position:absolute;
  top:0px;
  bottom: 0px;
  left: -9000px;
  width:100vw;
  height:100vh;
  z-index: 20;
}